<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714815054813-ubalf01ol73c6t1vdnv05n41jj1ark60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714815054813-ubalf01ol73c6t1vdnv05n41jj1ark60</string>
	<key>API_KEY</key>
	<string>AIzaSyDPyt0k_YlYHFVrcI34ShpBzyRLjpFBh3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>714815054813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toluapp</string>
	<key>PROJECT_ID</key>
	<string>jollofdate-7fb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>jollofdate-7fb6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714815054813:ios:2c6522f6c1d018ee7c4c34</string>
	<key>DATABASE_URL</key>
	<string>https://jollofdate-7fb6f.firebaseio.com</string>
</dict>
</plist>